body{
    background-color:rgb(151, 196, 235);
    font:Normal 15pt Arial;

}
header{
    color:white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(8, 11, 27, 0.403);
}
select#flista {/* chama o select/lista para colocar uma largura ideal para ele*/
    width: 150px;

}

footer{
    color:white;
    text-align:center;
    font-style:italic
}